<div class="col-lg-12"
     ng-init="init()">

    <div class="row form-group"
         ng-repeat="skill in skillSummary.skills">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b>{{skill.name | translate}}</b>
            </div>
            <div class="panel-body">
                <div ng-repeat="item in skill.items">

                    <div class="col-md-3">
                        <b class="text-success">{{item.name}}</b>
                    </div>
                    <div class="col-md-9">
                        <uib-progressbar class="progress-striped"
                                         value="item.value"
                                         type="{{findProgressbarClass(item.value)}}">
                            {{item.name}}
                        </uib-progressbar>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>