<div class="col-lg-12"
     ng-init="init()">

    <div class="row form-group"
         ng-repeat="skill in skillSummary.skills">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span>{{skill.name | translate}}</span>
            </div>
            <div class="panel-body">
                <div ng-repeat="item in skill.items">
                    <uib-progressbar class="progress-striped"
                                     value="item.value"
                                     type="{{findProgressbarClass(item.value)}}">{{item.name}}</uib-progressbar></uib-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>